@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="../../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Porten</title>
</head>
<body>
    <!-- Header -->
    <header class="header">
        <div class="wrapper">
            <div class="flex">
                <div class="header-info">
                    <img src="../../img/phone.svg" alt="">
                    <p>8 (812) 123-45-67    |    Работаем 7 дней в неделю    |    9:00 — 18:00  </p>
                </div>
                <div class="header-register">
                    <img src="../../img/log-in.svg" alt="">
                    <p>Войти / Регистрация</p>
                </div>
            </div>
            <div class="header-nav">
                
            </div>
        </div>
    </header>
    <!--  -->

</body>
</html>